<div class="row">
    <!--main information -->
    <div class="col-md-12">
        <div class="box">
            <h3 class="text-center main-info-header">ისწავლე სმარტფონი ჩვენთან ერთად <br><span id="loadLater">ვიდეო </span><span id="showLater2">ინსტრუქციებით</span> </h3>
            <div class="div-center">
                <div class="inline-block">
                    <p class="text-center">აუცილებელი ინფო</p>
                    <a href="#"><span class="info-box-icon-os-edges bg-red-gradient"><i class="fa fa-exclamation" aria-hidden="true"></i></span></a>
                </div>
                <div class="inline-block">
                    <p class="text-center">ყველაფერი ანდროიდზე</p>
                    <a href="/smartphones/android"><span class="info-box-icon-os bg-green-gradient"><i class="fa fa-android" aria-hidden="true"></i></span></a>
                </div>
                <div class="inline-block">
                    <p class="text-center">ყველაფერი აიფოუნზე</p>
                    <a href="#"><span class="info-box-icon-os bg-black-gradient"><i class="fa fa-apple" aria-hidden="true"></i></span></a>
                </div>
                <div class="inline-block info-box-last">
                    <p class="text-center">აპების მიმოხილვა</p>
                    <a href="#"><span class="info-box-icon-os-edges bg-yellow-gradient"><i class="fa fa-gamepad" aria-hidden="true"></i></span></a>


                </div>
            </div>
        </div>
    </div>
</div> <!-- END main information -->