<% include ./partials/header %>


    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Navigation Bar</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="/"><i class="fa fa-home" id="sidebar-icon" aria-hidden="true"></i> <span>საწყისი გვერდი</span></a></li>
                <li><a href="#"><i class="fa fa-newspaper-o" id="sidebar-icon-news" aria-hidden="true"></i><span>სიახლეები</span></a></li>
                <li class="treeview">
                    <a href="/smartphone/android"><i class="fa fa-android" id="sidebar-icon" aria-hidden="true"></i> <span>Android</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/smartphone/android">ინსტრუქციები</a></li>
                        <li><a href="#">აპლიკაციები</a></li>
                        <li><a href="#">სიახლე სისტემაზე</a></li>
                    </ul>
                </li>


                <li class="treeview">
                    <a href="#"><i class="fa fa-apple" id="sidebar-icon" aria-hidden="true"></i> <span>iPhone</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">ინსტრუქციები</a></li>
                        <li><a href="#">აპლიკაციები</a></li>
                        <li><a href="#">სიახლე სისტემაზე</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">

<!-- =============================================  Your Page Content Here  ============================================== -->
            <!--filter of videos-->
            <div class="row">

                <h3 class="text-center main-info-header">ისწავლე სმარტფონი ჩვენთან ერთად <br>
                    <span id="loadLater" class="w3-animate-left">ვიდეო </span><span class="w3-animate-right" id="showLater2">ინსტრუქციებით</span> </h3>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                    <div class="my-info-box">
                        <span class="my-info-box-icon bg-red-gradient"><i class="fa fa-exclamation"></i></span>
                        <div class="info-box-content">
                            <span class="my-info-box-text">საჭირო ინფო</span>
                            <span class="my-info-box-number">ზოგადი ინფო ორივე სისტემაზე</span>
                        </div>
                    </div>
                    </a>
                </div>
                
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="/smartphones/android">
                    <div class="my-info-box">
                        <span class="my-info-box-icon bg-green-gradient"><i class="fa fa-android"></i></span>
                        <div class="info-box-content">
                            <span class="my-info-box-text">ანდროიდი</span>
                            <span class="my-info-box-number">ვიდეოები ბრენდების მიხედვით</span>
                        </div>
                    </div>
                     </a>
                </div>
               

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                    <div class="my-info-box">
                        <span class="my-info-box-icon bg-black-gradient"><i class="fa fa-apple"></i></span>
                        <div class="info-box-content">
                            <span class="my-info-box-text">აიფონი</span>
                            <span class="my-info-box-number">ვიდეოები iOS-ის შესწავლაზე</span>
                        </div>
                    </div>
                    </a>
                </div>
              
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                    <div class="my-info-box">
                        <span class="my-info-box-icon bg-yellow-gradient"><i class="fa fa-gamepad"></i></span>
                        <div class="info-box-content">
                            <span class="my-info-box-text">აპების მიმოხილვა</span>
                            <span class="my-info-box-number">საინტერესო აპების გაცნობა და გამოყენება</span>
                        </div>
                    </div>
                    </a>
                </div>
                
            </div>
            <!--filter of videos END-->


     <!--All Feeds row-->
        <div class="row">
                <!--Blog feed-->
                <div class="col-md-9">
                    <div class="box box-purple">
                        <div class="box-header with-border">
                            <h3 class="box-title">სიახლეები</h3>
                        </div>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                
                                <% data.hot.forEach(function( hotNews ) { %>
                                <li class="item">
                                    <div class="blog-image">
                                        <img src="./dist/static_images/placeholder.jpg" alt="">
                                    </div>
                                    <div class="blog-info">
                                        <a href="/hotNews/<%= hotNews._id %>" class="blog-title"><%= hotNews.title %></a>
                                        <span class="blog-description">
                                            <%- hotNews.content.slice(0, 200); %>...
                                            <span class="app-date"><em id="font-size">Date: <%= hotNews.date.toDateString() %></em></span>
                                        </span>
                                    </div>
                                    <a href="/hotNews/<% hotNews._id %>" class="greenBtn">მეტი</a>
                                </li>
                                <% }) %>
                            </ul>
                            <div class="box-footer text-center">
                          <!--             PAGINATION             -->
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav><!--PAGINATION END-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--END Blog Feed-->

                <!--Sidebar-->
                <div class="col-md-3">
                    <div class="box box-purple">
                        <div class="box-header with-border">
                            <p class="box-title">ახალი ინსტრუქციები<p>
                        </div>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <% var x = 5 %>
                                <% for(i = 0; i < x; i++){ %>
                                <li class="item">
                                    <div class="product-img">
                                        <img src="/dist/static_images/default-50x50.gif">
                                    </div>
                                    <div class="product-info">
                                        <a href="#" class="newb-title">დავრეგისტრირდეთ Play Market-ზე</a>
                                        <span class="newb-desc">
                                            თავად ტკივილი არავის უყვარს, არავინ ეძებს მას და არავის სურს იგი, უბრალოდ იმიტომ, რომ ის ტკივილია...
                                        </span>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>

                    </div>
                    <div class="box box-purple">
                        <div class="box-header with-border">
                            <p class="box-title">TOP 5 Apps</p>
                        </div>
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <% var x = 5 %>
                                <% for(i = 0; i < x; i++){ %>
                                <li class="item">
                                    <div class="app-img">
                                        <img src="/dist/static_images/default-50x50.gif">
                                    </div>
                                    <div class="app-title">
                                        <a href="#">Viber 6.6.0.888 (120251)</a>
                                        <small class="app-date">Date: <em>01.03.2017</em></small>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="box-footer text-center">
                            <a href="#">ყველა</a>
                        </div>

                    </div>

                </div>
                <!--Sidebar-->
    </div>
            <!--END All Feeds row-->

        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


<% include ./partials/footer %>