<% include ../partials/header %>

<body class="hold-transition skin-purple sidebar-collapse sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>G</b>uru</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>GSM </b>Guru</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->

        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">Navigation Bar</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="/"><i class="fa fa-home" id="sidebar-icon" aria-hidden="true"></i> <span>საწყისი გვერდი</span></a></li>
                <li><a href="#"><i class="fa fa-newspaper-o" id="sidebar-icon-news" aria-hidden="true"></i><span>სიახლეები</span></a></li>
                <li class="treeview">
                    <a href="/smartphone/android"><i class="fa fa-android" id="sidebar-icon" aria-hidden="true"></i> <span>Android</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/smartphone/android">ინსტრუქციები</a></li>
                        <li><a href="#">აპლიკაციები</a></li>
                        <li><a href="#">სიახლე სისტემაზე</a></li>
                    </ul>
                </li>


                <li class="treeview">
                    <a href="#"><i class="fa fa-apple" id="sidebar-icon" aria-hidden="true"></i> <span>iPhone</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">ინსტრუქციები</a></li>
                        <li><a href="#">აპლიკაციები</a></li>
                        <li><a href="#">სიახლე სისტემაზე</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- =============================================  Your Page Content Here  ============================================== -->










                </div>
                <!--Sidebar-->
            </div>
            <!--END All Feeds row-->

        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


<% include ../partials/footer %>